<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - MariLancy</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background: url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d') no-repeat center center/cover;
    }

    .glass {
      backdrop-filter: blur(18px);
      background: rgba(0,0,0,0.55);
    }
  </style>
</head>

<body class="h-screen flex text-white">


<div class="hidden md:flex w-1/2 items-center justify-center px-20 bg-black/80 backdrop-blur-sm">
  <h1 class="text-5xl font-bold leading-tight test">
    Mulai Karir <br>
    Freelance Kamu <br>
    di<span class="inline-block ml-2">MariLancy</span>
  </h1>
</div>

<div class="w-full md:w-1/2 flex items-center justify-center bg-black/80 backdrop-blur-sm">

  <div class="w-[400px]">

    <h1 class="text-5xl font-semibold mb-8 text-center">Create Account</h1>

    <input id="nama"
      class="w-full mb-4 p-4 rounded-xl bg-gray-200 text-black"
      placeholder="Nama">

    <input id="email"
      class="w-full mb-4 p-4 rounded-xl bg-gray-200 text-black"
      placeholder="Email">

    <input id="password" type="password"
      class="w-full mb-4 p-4 rounded-xl bg-gray-200 text-black"
      placeholder="Password">

    <select id="role"
      class="w-full mb-6 p-4 rounded-xl text-black">
      <option value="freelancer">Freelancer</option>
      <option value="client">Client</option>
      <option value="admin">Admin</option>
    </select>

    <button onclick="register()"
      class="w-full bg-teal-500 hover:bg-teal-600 p-4 rounded-xl font-semibold">
      Register
    </button>

    <p class="text-center text-sm mt-6 text-gray-300">
      Sudah punya akun?
      <a href="/" class="text-teal-400">Login</a>
    </p>

  </div>

</div>



<script>
async function register() {
  const nama = document.getElementById("nama").value
  const email = document.getElementById("email").value
  const password = document.getElementById("password").value
  const role = document.getElementById("role").value

  if (!nama || !email || !password) {
    alert("Semua field wajib diisi!")
    return
  }

  if (!email.toLowerCase().endsWith("@gmail.com")) {
    alert("Hanya email dengan format @gmail.com yang dapat didaftarkan.")
    return
  }
  const res = await fetch("/register", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ nama, email, password, role })
  })

  const data = await res.json()

  if (!res.ok) {
    alert(data.error || "Pendaftaran gagal.")
    return
  }

  alert("Register berhasil, silakan login")
  window.location.href = "/login"
}
</script>

</body>
</html>